*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.hero-section{
    height: 350px;
    width: 100%;
    background: rgba(3, 3, 3, 0.6);  ;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: flex-start;
  
}

.image{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;  
}

.image img{
    height: 100%;
    width: 100%;
}

.hero-btn{
    height: 100px;
    width: 350px;
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hero-btn button{
   
    border: none;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
}
.hero-btn button:nth-child(1){
    background-color: rgb(255,91,41);
    padding: 14px 30px;
    border-radius: 25px;
}
.hero-btn button:nth-child(2){
    background: none;
    border: 1px solid white;
    padding: 12px 25px;
    border-radius: 25px;
}
.hero-content{
    margin-left: 20px;
    font-size: 40px;
    height: 150px;
    width: 310px;
    font-family: sans-serif;
    padding: 5px;
    color: white;
}

.about{ 
 
    height: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.about-image-container{
    height: 520px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-image-container img{
    height: 400px;
    width: 280px;
    z-index: 1;
    border-radius: 20px;
}
.about-image-container div:nth-child(1){
    position: absolute;
    background-color: rgb(255,91,41);
    height: 200px;
    width: 150px;
    top: 290px;
    left: 25px;
    border-radius: 20px;

}
.image-1{
    position: absolute;
    background-color: rgb(255,91,41);
    height: 200px;
    width: 150px;
    bottom: 290px;
    right: 25px;
    border-radius: 20px;
}
.about-content{
    height: 680px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.content-p{
    margin-right: 48%;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(255,91,41);
}

.about-inner-content{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.header{
    height: 90px;
    width: 90%;

    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
}
.content{
    height: 90px;
    width: 95%;
    color: rgb(157, 154, 151);
    font-size: 15px;
    padding-top: 10px;
    line-height: 25px;
}
.visions{
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    width: 100%;
    
}
.vision{
 
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 120px;
    width: 100%;
}
.vision i{
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 35px;
    background-color: rgb(255,91,41);
    color: white;
}
.first-vision{

    height: 120px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.first-vision p{
    color: rgb(157, 154, 151);
    font-size: 12px;
    line-height: 25px;
    font-family: sans-serif;
}

@media (min-width: 750px) {
    .hero-section{
        height: 580px;
        justify-content: center;
        width: 100%;
    }
    .hero-content{
        margin-left: 50px;
        height: 180px;
        width: 330px;
        padding-top: 10px;
    }
    .hero-btn{
        margin-left: 35px;
    }
    .about{ 
       height: 700px;
       width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       align-items: center;
       
   }

   .about-image-container{
    width: 40%;
    height: 650px;
  

    border-radius: 25px;
   }
   .about-content{
    width: 50%;
    height: 650px;
   }
   .about-image-container img{
    height: 550px;
    width: 370px;

   }

   .about-image-container div:nth-child(1){
    position: absolute;
    background-color: rgb(255,91,41);
    height: 200px;
    width: 150px;
    top: 430px;
    left: 55px;
    border-radius: 20px;

}
.image-1{
    position: absolute;
    background-color: rgb(255,91,41);
    height: 200px;
    width: 150px;
    bottom: 430px;
    right: 55px;
    border-radius: 20px;
}
.content-p{
    margin-right: 70%;
    color: rgb(255,91,41);
}
.first-vision{
    width: 75%;
}
.first-vision p{
    font-size: 20px;
    line-height: 30px;

}
.vision i{
    font-size: 40px;
    padding: 5px 15px;
}
.content{
    width: 90%;
    font-size: 20px
}
.about-inner-content{
    height: 580px;
}

    
}